# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Environment variables
.env
.env.*
